/* ALL CODE */
*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #8d6932;
    --secondary-color: #C3E2B5;
    --tertiary-color: #5C8442;
}

/* DIVISÕES */
#section-6, #section-7, #section-8 {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 75px auto;
}

.container-5, .container-8, .container-9{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.image-6 img, .image-7 img, .image-8 img{
    width: 65vw;
} 

.container-6, .container-7, .container-10{
    color: var(--secondary-color);
}

.title-3, .image-7, .title-5{
    margin-top: 20px;
}

@media(min-width: 992px){
    #section-6, #section-7, #section-8{
        flex-direction: row;    
    }

    .image-6 img, .image-7 img, .image-8 img{
        width: 26vw;
    }

    .image-7{
        display: flex;
        justify-content: end;
    }

    .container-7{
        margin-top: 50px;
        width: 36.8vw;
    }

    .text-8, .title-4{
        width: 80%;
    }

    .text-7, .text-8, .text-9{
        font-size: 1.6vw;
        margin-top: 20px;
    }

    .container-6, .container-10{
        margin-left: 11vw;
    }

    .title-3, .title-4, .title-5{
        font-size: 2vw;
    }
}